<div class="container p-4">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card ">
                    <div class="card-header bg-dark text-white text-center">
                        <h3>Contact me</h3>
                    </div>
                    <div class="card-body">
                        <form action="/links/edit/{{enlace.id}}" method="POST">
                            <div class="form-group">
                                <input type="text" value="{{enlace.titulo}}" name="titulo" class="form-control"  placeholder="Titulo" autofocus>
                            </div>
                            <div class="form-group">
                                <input type="url" value="{{enlace.url}}" name="url" class="form-control" placeholder="URL">
                            </div>
                            <div class="form-group">
                                <textarea name="descripcion" class="form-control" rows="2" placeholder="{{enlace.descripcion}}" ></textarea>
                            </div>
                            <button class="btn btn-success btn-block">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>